rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /shouts/{shout} {
      // Anyone can read
      allow read: if true;

      // Only authenticated users can write
      allow write: if request.auth != null;
    }
  }
}